{% extends 'base.html' %}
	{% block header %}
	<h1 class="text-center">{% block title %} Bara Bussiness! Simon och Fellans Webbshop {% endblock %}</h1>
	{% endblock %}
{% block content %}
    <h1 class="ml-4">Skapa användare</h1>
    <form action="/newUser" method="post">
        <div class="form-group ">
            <label for="username">Välj användarnamn</label>
            <input id="username" class="form-control" type="text" name="username"/>
        </div>
        <div class="form-group">
            <label for="password">Välj lösenord</label>
            <input id="password" class="form-control" type="password" name="password" />
        </div>
            <input type="submit" value="Skapa användare" />
        
        </form>
{% endblock %}