{% extends 'base.html' %}
{% block header %}
<h1 class="text-center">{% block title %} Bara Bussiness! Simon och Fellans Webbshop {% endblock %}</h1>
{% endblock %}
{% block content %}
<h1 class="ml-4 text-center">Våra Produkter</h1>

<div class="container">
  <div class="row mb-4"> 
  {% for row in rows %}
    <div class="col-sm">
      <div class="card text-center">
      <img src="static/images/{{row[0]}}.jpg" alt="{{row[1]}}" style="width:100%">
      <h1>{{row[1]}}</h1>
      <p>{{row[2]}}kr</p>
      <p>{{row[3]}}</p>
      <p><a href="{{url_for('laggTillProdukt', produkt_id = row[0])}}"><button class="btn btn-primary">Add to Cart</button></a></p>
    </div>
    </div>
  {% if loop.index % 3 == 0 %}
  </div><div class="row mb-4">
  {% endif %}
  
  {% endfor %}
  
</div>
{% endblock %}
{% block footer %}
<h1>Produkts be here</h1>
{% endblock %}