{% extends 'base.html' %}
{% block header %}
<h1 class="text-center">{% block title %} Varukorg {% endblock %}</h1>
{% endblock %}
{% block content %}
<div class="container">
	<div class="row">

		<div class="col-sm-8 bg-white card">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Namn</th>
						<th>Pris</th>
						<th>Antal</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for product in products %}
					<tr>
						<td>{{product[1]}}</td>
						<td>{{product[2]}}kr</td>
						<td>{{product[3]}}</td>
						<td><a onclick="delete_product('{{product[0]}}')">🗑</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="col-sm-3 bg-primary card"> dish</div>
	</div>
</div>
{% endblock %}