{% extends 'base.html' %}
{% block header %}
<h1 class="text-center">{% block title %} Varukorg {% endblock %}</h1>
{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-sm-8  bg-white card">
			<table class="table table-striped">
				<thead>
					<tr>
						<th></th>
						<th>Namn</th>
						<th>Pris</th>
						<th>Antal</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% if products == False %}
					<tr>
						<td>Din varukorg är tom</td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					{% else %}
					{% for product in products %}
					<tr id="produkt_id_{{product[0]}}">
						<td><img src="static/images/{{product[0]}}.jpg" class="border-secondary" style="height:5vh"></img></td>
						<td>{{product[1]}}</td>
						<td>{{product[2]}}kr</td>
						<td>{{product[3]}}</td>
						<td><button type="button" onclick="delete_product('{{product[0]}}')">🗑</button></td>
					</tr>
					{% endfor %}
					{% endif %}
				</tbody>
			</table>
		</div>


		<div class="col-sm-4">
			<div class="row h-100">
				<div class="col-sm-1"></div>
				<div class="bg-white col-sm-11 h-100 card">	
					<p>Hej {{session['username']}}!</p>
					<p>Total belopp: {{total}}</p>
					<p>Antal produkter: {{antal}}</p>
				</div>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}